#!/usr/bin/make -f

## uncomment to enable hardening
#export DEB_BUILD_HARDENING=1

cfg_opts := --prefix=/opt/vyatta
cfg_opts += --libdir=/usr/lib
cfg_opts += --includedir=/usr/include
cfg_opts += --mandir=\$${prefix}/share/man
cfg_opts += --infodir=\$${prefix}/share/info
cfg_opts += --enable-unionfsfuse
cfg_opts += CFLAGS="$(CFLAGS)"
cfg_opts += LDFLAGS="-Wl,-z,defs"
cfg_opts += CXXFLAGS="$(CXXFLAGS)"
inst_opts := --sourcedir=debian/tmp

clean:
	dh clean --with=autoreconf,systemd

override_dh_perl:
	dh_perl /opt/vyatta/share/perl5 /opt/vyatta/share/perl5/Vyatta

override_dh_gencontrol:
	rm -f debian/*/DEBIAN/conffiles
	if [ -f "../.VYATTA_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol; \
	fi

binary binary-arch binary-indep: install
	rm -f debian/files
	dh binary --with=autoreconf,systemd

override_dh_auto_configure:

override_dh_auto_test:

build: Makefile
build:
	rm -f debian/*.debhelper*
	dh build --with=autoreconf,systemd

Makefile: Makefile.in
	./configure $(cfg_opts)

Makefile.in: Makefile.am configure.ac
	autoreconf -i --force

override_dh_install:
	dh_install $(inst_opts)

override_dh_systemd_enable:
	dh_systemd_enable -pvyatta-cfg --name vyatta-router vyatta-router.service

install: build
	dh install --with=autoreconf,systemd

